{% macro business_avatar(business, large=false) %}
<span class="business-avatar {{ 'business-avatar-large' if large else '' }}">
{% if business.logo_key %}<img data-business-logo src="{{ url_for('businesses.logo', business_id=business.id, v=business.logo_key.rsplit('/', 1)[-1]) }}" alt="{{ business.name }} business image" width="{{ 96 if large else 32 }}" height="{{ 96 if large else 32 }}">{% endif %}<span data-business-initial aria-label="{{ business.name }} default business avatar"{% if business.logo_key %} hidden{% endif %}>{{ business.name[:1]|upper }}</span>
</span>
{% endmacro %}
